<h1>Products</h1>

<table class="table table-striped table-hover ">
  <thead class='thead-dark'>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Money</th>
      <th scope="col">Currency</th>
      <th scope="col">Tags</th>
      <th scope="col">Start at</th>
      <th scope="col">Endat at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td class="align-middle"><%= product.name %></td>
        <td class="align-middle"><%= product.money %></td>
        <td class="align-middle"><%= product.currency %></td>
        <td class="align-middle"><%= display_tag_list(product.tags) %></td>
        <td class="align-middle"><%= product.start_at %></td>
        <td class="align-middle"><%= product.end_at %></td>
        <td class="align-middle"><%= link_to 'Show', product , class: 'text-decoration-none text-primary' %></td>
        <td class="align-middle"><%= link_to 'Edit', edit_product_path(product), class: 'text-decoration-none text-secondary' %></td>
        <td class="align-middle"><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } , class: 'text-decoration-none'%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to 'New Product', new_product_path %>

